/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.XiaZaicssStart {}

.uf28b9 {
    background-image: ./images/6ps.jpg;
    background-size: auto 100%;
}

.udba44 {
    color: rgba(242, 131, 196, 1);
}

.u7364c {
    color: rgba(242, 131, 196, 1);
}

.u01809 {
    color: rgba(242, 131, 196, 1);
}

.u3c442 {
    color: rgba(242, 131, 196, 1);
}

.u32232 {
    color: rgba(242, 131, 196, 1);
}

.u87b5d {
    color: rgba(242, 131, 196, 1);
}

.u3ed02 {
    color: rgba(242, 131, 196, 1);
}

.u24d49 {
    font-weight: bold;
    color: rgba(117, 152, 86, 1);
}

.u60758 {
    color: rgba(92, 152, 86, 1);
    font-weight: bold;
}

.u407ee {
    color: rgba(10, 9, 10, 1);
    font-weight: normal;
}

.u9950c {
    color: rgba(92, 152, 86, 1);
    font-weight: bold;
}

.ud907e {
    color: rgba(3, 3, 3, 0.92);
    font-weight: normal;
}

.u1ac67 {
    padding-top: 40px;
}

.u3e590 {
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.u6be51 {
    color: rgba(244, 247, 245, 1);
    font-weight: lighter;
}

.u5aedd {
    display: inline;
    color: rgba(21, 21, 21, 1);
    box-shadow: 0px 0px 0px 0px #ccc;
}

.XiaZaicssEnd {}