/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.XiaZaicssStart {}

.u24d49 {
    font-weight: bold;
    color: rgba(117, 152, 86, 1);
}

.u60758 {
    color: rgba(92, 152, 86, 1);
}

.u407ee {
    color: rgba(10, 9, 10, 1);
}

.XiaZaicssEnd {}